{% extends "base.html" %} {% block title %}Lists Overview{% endblock %} {% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Lists Overview</h1>
    <div class="row">
        {% for list in lists %}
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ list.name }}</h5>
                    <p class="card-text"><strong>Total Price:</strong> ${{ list.list_price|floatformat:2 }}</p>
                    <a href="{% url 'list_detail' list.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}